@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #ededed;
}
/* header  */
.nav {
  height: 75px;
  background-color: #003366;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 17px;
  font-weight: 400;
}
.hamburger-logo {
  display: none;
}
.nav-list li {
  font-family: "Saira Condensed", sans-serif;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 5px;
}
.nav-list1 {
  display: flex;
  gap: 10px;
}
.nav-list1 img {
  margin-top: 5px;
}
.button {
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 20px;
}
/* navigation */
.hero-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.hero-text1 {
  display: flex;
  font-family: "Saira Condensed", sans-serif;
}
.hero-text2 {
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: "Saira Condensed", sans-serif;
}
.hero-text2 a {
  text-decoration: none;
  color: black;
}
.hero-text-li {
  display: flex;
  align-items: center;
}
.hero-text-li a:hover,
.hero-text-li a:active {
  color: #ff7a00;
}
.ERL {
  font-size: 50px;
  color: #ff7a00;
}
.logistics {
  font-size: 25px;
  padding-top: 20px;
  color: #003366;
}
.btn {
  height: 50px;
  width: 120px;
  background-color: #ff7a00;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: 800;
  border-radius: 0.5rem;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover{
  scale: 1.05;
  color: white;
}
/* hero-section */
.hero-image {
  height: 800px;
  background-image: url(./Images/Hero-Image.webp);
  background-repeat: no-repeat;
  width: 100%;
}
.main-hero {
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  padding-top: 170px;
  padding-left: 40px;
}
.main-hero1 {
  color: white;
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 40px;
}
.main-hero2 {
  display: flex;
}
.main-hero2 p {
  font-family: Saira Condensed;
  font-weight: 500;
  font-size: 32px;
}
.main-hero2 img {
  margin-top: 47px;
}
.main-hero3 {
  padding-top: 70px;
  font-family: Saira Condensed;
  font-weight: 500;
  font-size: 32px;
}
.btn-1 {
  background: #ff7a00;
  border: none;
  color: white;
  width: 8%;
  height: 50px;
  border-radius: 0.5rem;
  margin-left: 40px;
  margin-top: 70px;
}
.btn-1:hover{
  scale: 1.05;
  color: white;
}
/* about section */
.about {
  display: flex;
  justify-content: space-around;
  height: 500px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about1 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
}
.about-text {
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: justify;
}
/* strength section */
.strength-image {
  height: 800px;
  background-image: url(./Images/Strength\ image.webp);
  background-repeat: no-repeat;
  width: 100%;
}
.strength-text {
  color: #ff7a00;
  font-size: 2rem;
  padding-top: 120px;
  padding-left: 60px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 50px;
}
.strength-text1 {
  padding-left: 60px;
  font-family: Saira Condensed;
  font-weight: 700;
  font-size: 35px;
  color: white;
  padding-top: 30px;
}
.strength-text2 {
  padding-left: 60px;
  color: white;
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 32px;
}
.strength-text3 {
  padding-left: 60px;
  color: white;
}
.btn-2 {
  background-color: #ff7a00;
  height: 70px;
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 32px;
  color: white;
  border-radius: 0.5rem;
  border: none;
  margin-top: 40px;
  padding: 5px;
}
.btn-2:hover{
  scale: 1.05;
  color: white;
}
/* service section */
.main-service {
  height: 750px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.service {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  color: #003366;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.s-text {
  font-size: 40px;
}
.service1 {
  display: flex;
  justify-content: space-around;
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 24px;
  gap: 34px;
}
.service2 {
 display: flex;
  justify-content: space-around;
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 24px;
  gap: 34px;
  padding-left: 20px;
}
.s-logo {
  padding-left: 100px;
}
/* footer section */
.footer {
  height: 600px;
  background-color: black;
  margin-bottom: 25px;
}
.footer1 {
  color: #a0a0a0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 20px;
  padding: 50px;
}
.footer-image{
  padding-left: 22px;
}
.hr-tag {
  margin-top: 50px;
  width: 100%;
}
.line-1 {
  font-size: 60px;
  line-height: 100%;
}
.footer-content{
  display: flex;
  gap: 100px;
}
.footer-text {
  color: #a0a0a0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
}
.ERL1 {
  font-size: 55px;
  color: #ff7a00;
  padding-top: 10px;
}
.logistics1 {
  font-size: 30px;
  padding-top: 30px;
  color: #003366;
}
ul {
  list-style: none;
}
.footer-text1 img {
  padding-top: 75px;
}
.footer-text2 {
  padding-top: 40px;
  line-height: 30px;
}
.text {
  font-family: Saira Condensed;
  font-weight: 700;
  font-size: 25px;
}
.text1 {
  font-family: Saira Condensed;
  font-weight: 500;
  font-size: 15px;
}
.hr-tag1 {
  width: 90%;
  margin: 0 auto;
}
.footer-button {
  background-color: #a0a0a0;
  color: white;
  border: none;
  width: 200px;
  height: 38px;
  display: flex;
  gap: 90px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: Saira Condensed;
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 0.3rem;
}
.footer-button:hover{
  scale: 1.05;
  color: white;
}
.footer-bottom {
  color: #a0a0a0;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-family: Saira Condensed;
  font-weight: 500;
  font-size: 15px;
  padding-right: 20px;
  padding-top: 30px;
}
.footer-bottom p {
  padding-top: 5px;
}
@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .hero-text {
    display: flex;
    justify-content: space-between;
  }
  .ERL {
    font-size: 50px;
    color: #ff7a00;
    padding-left: 20px;
  }
  .logistics {
    font-size: 25px;
    padding-top: 20px;
    color: #003366;
  }
  .hero-text2 {
    display: none;
  }
  .btn {
    display: none;
  }
  .hero-text1 {
    display: flex;
    justify-content: space-around;
  }
  .hamburger-logo {
    display: flex;
    margin-top: 25px;
    margin-left: 110px;
  }
  /* hero section */
  .hero-image {
    height: 450px;
    background-image: url(./Images/Hero-Image.webp);
    background-repeat: no-repeat;
    width: 100%;
  }
  .main-hero {
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    padding-top: 80px;
    padding-left: 20px;
  }
  .main-hero1 {
    color: white;
    font-family: Saira Condensed;
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
  }
  .main-hero2 p {
    font-family: Saira Condensed;
    font-weight: 500;
    font-size: 20px;
  }
  .main-hero2 img {
    margin-top: 50px;
    height: 50px;
  }
  .main-hero3 {
    padding-top: 60px;
    font-family: Saira Condensed;
    font-weight: 500;
    font-size: 32px;
  }
  .btn-1 {
    background: #ff7a00;
    border: none;
    color: white;
    width: 30%;
    height: 50px;
    border-radius: 0.5rem;
    margin-left: 20px;
    margin-top: 50px;
  }
  /* about section */
  .about {
    display: flex;
    flex-direction: column;
  }
  .about1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    padding-left: 10px;
  }
  .about-text {
    font-family: Saira Condensed;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    padding-left: 10px;
  }
  .about-image {
    width: 375px;
    height: 400px;
  }
  /* strength section */
  .main-service {
  height: 950px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
  .strength-image {
    height: 400px;
    background-image: url(./Images/Strength\ image.webp);
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 210px;
  }
  .strength-text {
    color: #ff7a00;
    font-size: 2rem;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
  }
  .strength-text1 {
    padding-left: 20px;
    font-family: Saira Condensed;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding-top: 10px;
  }
  .strength-text2 {
    padding-left: 20px;
    color: white;
    font-family: Saira Condensed;
    font-weight: 400;
    font-size: 15px;
  }
  .strength-text3 {
    padding-left: 20px;
    color: white;
  }
  .btn-2 {
    background-color: #ff7a00;
    height: 40px;
    font-family: Saira Condensed;
    font-weight: 400;
    font-size: 13px;
    color: white;
    border-radius: 0.5rem;
    border: none;
    margin-top: 40px;
    padding: 5px;
  }
  .btn-2 img {
    width: 15px;
  }
  /* service section */
  .service {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    color: #003366;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .s-text {
    font-size: 20px;
  }
  .service1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Saira Condensed;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
  }
  .service2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Saira Condensed;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }
  .s-logo {
  padding-left: 2px;
  height: 25px;
}
  /* footer section */
.footer {
  height: 1000px;
}.footer1 {
  color: #a0a0a0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Saira Condensed;
  font-weight: 400;
  font-size: 10px;
  padding: 0;
}
.footer1 p{
  font-size: 15px;
}
.footer-email{
  padding-bottom: 20px;
}
.hr-tag {
  margin-top: 50px;
  width: 100%;
}
.line-1 {
  display: none;
}
.footer-text {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}
.ERL1 {
  font-size: 35px;
  color: #ff7a00;
  padding-top: 10px;
}
.logistics1 {
  font-size: 15px;
  padding-top: 30px;
  color: #003366;
}
.footer-text1{
  display: flex;
  gap: 20px ;
}
.footer-text1 img {
  padding-top: 25px;
}
.footer-image{
  height: 35px;
  margin-top: 15px;
}
.footer-text2 {
  padding-top: 70px;
  line-height: 20px;
}
.footer-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text {
  font-family: Saira Condensed;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 10px;
}
.text1 {
  font-family: Saira Condensed;
  font-weight: 500;
  font-size: 15px;
}
.hr-tag1 {
  width: 90%;
  margin: 0 auto;
}
.footer-button {
  background-color: #a0a0a0;
  color: white;
  border: none;
  width: 110px;
  height: 50px;
  display: flex;
  gap: 40px;
  font-family: Saira Condensed;
  font-weight: 500;
  font-size: 13px;
  border-radius: 0.3rem;
}
.footer-bottom {
  color: #a0a0a0;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-family: Saira Condensed;
  font-weight: 500;
  font-size: 15px;
  padding-right: 20px;
}
}
